* {
    font-family: Lato, sans-serif;
    font-size: 18px;
    background-color: #f4f4f4;
}

.container {
    background-color: #007bff;
}

.error {
    color: red;
    background-color: rgba(221,120,71,0.71);
    border-style: solid;
    border-color: red;
    padding: 5px;
    alignment: left;
}

.title {
    background-color: #007bff;
    width: 100%;
    display: inline-block;
}

.trips {
    /*    display: flex;*/
    /*flex-direction: row;*/
}

.trip {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-style: solid;
    border-color: #007bff;
    float: left;
}
.trip:nth-child(2n) {
    background-color: rgba(21,221,209,0.27);
}

.trip:nth-child(3n+1) {
    clear: left;
}

.trips_section {
    background-color: beige;
}

.trips_section title {
    font-size: 25px;
}


.trip_description {
    font-style: italic;
}

.price {
    color: brown;
}

.trip_details {
    background-color: burlywood;
}

.label {
    font-weight: bold;
}

.detail {
    font-style: italic;
}

.details_button {
    background-color: rgba(37,221,206,0.71);
    color: white;
    width: 100px;
    /*padding: 20px 34px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

.details_button:hover {
    color: #F97300;
}