* {
    font-family: Lato, sans-serif;
    font-size: 18px;
    /*background-image: url("static/img/background.jpg");*/
}

body {
    background-color: #8ca69e;
}

.wrapper {
    margin-left: 30px;
    margin-right: 30px;
    /*width: 100%;*/
    height: 100%;
}

.container {
    /*background-color: #9dd7ff;*/
    height: 100%;
}

.error {
    color: red;
    background-color: rgba(221,120,71,0.71);
    border-style: solid;
    border-width: 1px;
    border-color: red;
    padding: 5px;
    alignment: left;
}

.trips_section {
    background-color: #6f97c0;
}

.title {
    background-color: #007bff;
    width: 100%;
    display: inline-block;
}

.title span {
    font-size: 25px;
    margin: auto 10px;
}

.trips {
    display: inline-block;
}

.trip {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-style: solid;
    border-color: #007bff;
    float: left;
    background-color: #ffd78e;
}

.trip:nth-child(2n) {
    background-color: #FFF9A4;
}

.trip:nth-child(3n+1) {
    clear: left;
}

.trip_description {
    font-style: italic;
}

.price {
    color: brown;
}

.trip_details {
    background-color: burlywood;
}

.label {
    font-weight: bold;
}

.detail {
    font-style: italic;
}

.details_button {
    background-color: #2E69FF;
    color: white;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.details_button:hover {
    color: #F97300;
}

.data-sheet {
    border: 1px;
}